.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #99d4d1;
  }
  
  h1 {
    text-align: center;
    color: #055055;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #055055;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00aaad;
  }
  