/* Add background color to the page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  /* Center the container */
  .container {
    width: 80%;
    margin: 50px auto; 
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Style buttons */
  button {
    padding: 8px 12px;
    background-color: #da710e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style the filters */
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filters label, .filters select {
    margin-right: 10px;
  }
  .navigation{
    text-decoration-line: none;
  }
  
  .navigation a {
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.left-align {
  float: left;
}

.right-align {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
