<app-filters (filterChange)="filterUsers($event)"></app-filters>
<div class="container">
  <table id="usersTable">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Interests</th>
        <th>Experience</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers; let i = index">
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.interests }}</td>
        <td>{{ user.experience }}</td>
        <td>{{ user.password }}</td>
        <td><button (click)="deleteUser(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
